<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" /> -->
    <link rel="stylesheet" type="text/css" href="../static/css/customService.css">
    <title>客服</title>
</head>

<body>
    <div class="tel">
        <span>客服电话：88888888</span>
    </div>
</body>

</html>