<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width:device-width,initial-scale=1" />
    <meta name="keywords" content="预约系统" />
    <meta name="description" content="">
    <meta name="author" content="">
    <title>预约成功</title>
    <link rel="stylesheet" type="text/css" href="../static/css/success.css">


</head>

<body class="tishi">

    <div class="container">
        <div class="high">
            <img src="../static/img/tb.jpeg">
        </div>
        <div class="middle">
            <p>预约成功！</p>
        </div>
        <div class="low">
            <a href="/"><button class="fhsy">返回首页</button></a><br>
            <!--<span class="divider"></span>  -->
            <a href="{% url 'sign_up' %}"><button class="cxdl">再次提交</button></a>
        </div>

    </div>
</body>

</html>